
body {
  background-color: rgb(16, 25, 34);
  color: white;
  font-family: sans-serif;
  margin: 20px;
}

main {
  text-align: left;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .5rem 1rem;
  width: 100%;
  position: relative;
  padding: 0 16px;
}

.esquina-derecha {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Logo {
  width: 40px;
  height: 40px;
  transform: rotate(90deg); 
}

.Logo::after {
  content: "DevJobs";
  margin-left: 7px;
}

h3 a{
  color: white;
  &:hover {
    color: #09f;
  }
}

.Menu {
  display: flex;
  gap: 15px;
  position: relative;
}

.Menu a {
  color: white;
  text-decoration: none;
  margin: 6px;
}

.Menu a:hover {
  color: #09f;
}

.botones,.Boton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 6px;
  background-color: #09f;
  cursor: pointer;
}

.botones:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.09);
}

#Perfil {
  width: 30px;
  height: 30px;
  margin:10px;
}

main {
  text-align: left;
  margin: 20px;
  line-height: 1.6; /*Para añadir interlineado al texto y mejorar la legibilidad*/

}

.portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 80px;
  width: 100%;
  height: 300px;
  background-image:
    linear-gradient(rgba(16, 25, 34, 0.7), rgba(16, 25, 34, 0.9)),
    url("portada DevJobs.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

h1 {
  font-size: 45px;
  margin: 0 0 8px 0;
}

h1 + h2 {
  font-size: 20px;
  margin-top: -10px;
}

small{
  opacity: .60;
}

.Filtros {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-block: 1rem;
}

.Filtros select {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(29, 44, 60, 0.679);
  color: white;
}

.seccion-de-busqueda,
.Resultados {
  max-width: 1200px;
  margin: 0 auto;
}

.input-search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.211);
  background-color: rgba(29, 44, 60, 0.679);
}

#Buscador {
  color: white;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}

.box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 30px;
  margin-top: 60px;
  text-align: center;
  background-color: rgba(75, 133, 192, 0.2);
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.5);
  min-width: 260px;
}

.box img {
  width: 40px;
  align-self: center;
  border-radius: 50%;
  padding: 10px;
  background-color: rgba(75, 133, 192, 0.2);
}

table {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 8px;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.detalle {
  color: rgba(212, 212, 212, 0.7);
  font-size: 13px;
  margin-top: -10px;
}

.description {
  color: currentColor;
  font-size: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-block: 2rem;
}

.pagination a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  text-decoration: none;
  border-radius: 0.375rem;
  transition: all 0.3s;
}

.pagination a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.pagination a.is-active {
  background-color: rgb(42, 42, 225);
  color: white;
  pointer-events: none;
}


.jobs-listing {
  border: .5px solid rgba(255, 255, 255, 0.211);
  border-radius: .5rem;
  list-style: none;
  padding-left: 0;
  margin-block: 0;
  box-sizing: border-box;


  li article {       /*Esto es cada item de la lista, es decir, cada empleo*/
    display: flex;
    box-sizing: border-box;
    align-items: start;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    border-radius: 0;
    padding: 1rem;

    &:hidden {  /*Esto es para ocultar un empleo, no seleccionado*/
      opacity: 0.5;
      pointer-events: none;
    }
    
    &:active{   
      background-color: rgba(255, 255, 255, 0.09);
      transition: all .5s ease;
    }
  }

 
  
  article {
    display: flex;
    box-sizing: border-box;
    align-items: start;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    border-radius: 0;
    padding: 1rem;
  }
    div {
      flex: 1;
    }

    h3 {
      margin-block: 0;
    }

    small {
      opacity: .60;
    }

    p {
      margin-top: 10px;
      max-width: 80ch;
    }
  
}

 button { 
    background-color: rgba(255, 255, 255, 0.211);
    color: white;
    transition: .5s ease;
    border: none;
    padding: .5rem;
    cursor: pointer;
    border-radius: .5rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.411);
      outline: none;
      transition: all .5s ease;
      transform: scale(1.1);
    }

    &:focus {
      outline: none;
      transform: scale(1.1);
      transition: all .5s ease;
    }

    &:active {
      transform: scale(0.90);
      transition: all .5s ease;
    }
  }


.button-apply-job{
  background-color: #09f;

  &.aplicado {     /*Se usa el simbolo & y . para aplicar una clase especifica al boton */
    background-color: green;
    pointer-events:none;

}
}

.TittleJobs {    /*Contenedor que aplica estilos al titulo de la seccion de resultados y al boton de aplicar */
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div h2{
  margin-bottom: 5px;    
  }

  button{
margin-left: auto;
padding-left: 20px;
padding-right: 20px;

  }

}

.EndJobs {    /*Contenedor que aplica estilos al boton de aplicar final */
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button{
margin-left: auto;
padding-left: 20px;
padding-right: 20px;
  }

}

.DetailsJobs ul {
    list-style: none; /* Quitamos los puntos por defecto */
    
}

/*Creamos el nuevo icono */
.DetailsJobs li::before {
  content: "✅";
  /* content: url('tick_96px_1173d4 (2).svg'); NO ME FUNCIONA*/
  display: inline-block; /* Asegura que el icono se muestre en línea*/
  padding-right: 10px;

  
}